<footer>
  <p>
    Made by <a href="https://twitter.com/philhawksworth">Phil Hawksworth</a><br/>
    Hosted by <a href="https://www.netlify.com">Netlify</a><br/>
    Explore the code on <a href="{{ pkg.repository.url }}">Github</a>
  </p>
</footer>
