<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>{% include "css/main.css" %}</style>
    <title>{{ title }}</title>
  </head>
  <body class="{{ bodyClass }}" >
    <div class="container">
      <header>
        <h1>{{ title }}</h1>
        <p class="subtitle">
          An example of powering picture elements for responsive images with lazy loading, using <a href="https://www.netlify.com/blog/2019/02/26/manage-your-code-and-assets-together-with-netlify-large-media/" target="_BLANK" rel="noopener">Netlify Large Media</a>.
        </p>
      </header>
      {{ content | safe }}
      {% include "footer.njk" %}
    </div>
    <script>{% include "js/scripts.js" %}</script>
  </body>
</html>



