// Breakpoints
$bp-narrow: "(min-width: 400px)";
$bp-mid: "(min-width: 740px)";
$bp-wide: "(min-width: 1200px)";

// Colours
$page-color: #fff;
$text-color: #333;
$accent-color: #a435ff;

// blur for lazy load
$blurRadius: 20px;
